beszel/beszel_hub_data
beszel/beszel_agent_data
kuma/uptime-kuma-data
netdata/netdatacache
netdata/netdataconfig
netdata/netdatalib
portainer/portainer_data
statping/statping
.env
GEMINI.md
CLAUDE.md
*/logs
.history/
.vscode/
PROJECT_STRUCTURE.md
