{
	admin :2019
	email tom.vipin@gmail.com
	servers {
		metrics {
			per_host
		}
	}
	log {
		output file /var/log/caddy/caddy_main.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

# Health check
:80, :443 {
	respond /health 200
}

# Main domain
010790.xyz, www.010790.xyz {
	respond "Welcome to 010790.xyz"
	log {
		output file /var/log/caddy/010790.xyz.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

# Services
portainer.010790.xyz {
	reverse_proxy portainer:9000
	log {
		output file /var/log/caddy/portainer.010790.xyz.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

kuma.010790.xyz {
	reverse_proxy uptime-kuma:3001
	log {
		output file /var/log/caddy/kuma.010790.xyz.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

beszel.010790.xyz {
	reverse_proxy beszel-hub:8090
	log {
		output file /var/log/caddy/beszel.010790.xyz.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

llm.010790.xyz {
	reverse_proxy litellm:4000
	log {
		output file /var/log/caddy/llm.010790.xyz.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

grafana.010790.xyz {
	reverse_proxy grafana:4004
	log {
		output file /var/log/caddy/grafana.010790.xyz.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

api.padtaal.010790.xyz {
	reverse_proxy padtaal_backend_api:8000
	log {
		output file /var/log/caddy/api.padtaal.010790.xyz.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}
