{
	admin :2019
	email tom.vipin@gmail.com

	metrics {
		per_host
	}

	log {
		output file /var/log/caddy/caddy_main.log {
			roll_size 50MiB
			roll_keep 3
			roll_keep_for 30d
		}
		format json
		level INFO
	}
}

(log_to_file) {
	log {
		output file /var/log/caddy/{args[0]} {
			roll_size 50MiB
			roll_keep 3
			roll_keep_for 30d
		}
		format json
		level INFO
	}
}

# Health check
:80, :443 {
	respond /health 200
}

# Main domain
010790.xyz, www.010790.xyz {
	respond "Welcome to 010790.xyz"
	import log_to_file 010790.xyz.log
}

# Services
portainer.010790.xyz {
	reverse_proxy portainer:9000
	import log_to_file portainer.010790.xyz.log
}

kuma.010790.xyz {
	reverse_proxy uptime-kuma:3001
	import log_to_file kuma.010790.xyz.log
}

beszel.010790.xyz {
	reverse_proxy beszel-hub:8090
	import log_to_file beszel.010790.xyz.log
}

llm.010790.xyz {
	reverse_proxy litellm:4000
	import log_to_file llm.010790.xyz.log
}

grafana.010790.xyz {
	reverse_proxy grafana:4004
	import log_to_file grafana.010790.xyz.log
}

api.padtaal.010790.xyz {
	reverse_proxy padtaal_backend_api:8000
	import log_to_file api.padtaal.010790.xyz.log
}

enzo.010790.xyz {
	reverse_proxy enzo-web-prod:80
	import log_to_file enzo.010790.xyz.log
}

jellyfin.010790.xyz {
	reverse_proxy jellyfin:8096 {
		header_up Host {host}
		header_up X-Real-IP {remote_ip}
		header_up X-Forwarded-For {remote_ip}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
	import log_to_file jellyfin.010790.xyz.log
}

sonarr.010790.xyz {
	reverse_proxy sonarr:8989
	import log_to_file sonarr.010790.xyz.log
}

radarr.010790.xyz {
	reverse_proxy radarr:7878
	import log_to_file sonarr.010790.xyz.log
}

prowlarr.010790.xyz {
	reverse_proxy prowlarr:9696
	import log_to_file prowlarr.010790.xyz.log
}

qbittorrent.010790.xyz {
	reverse_proxy qbittorrent:8080
	import log_to_file qbittorrent.010790.xyz.log
}

jellyseerr.010790.xyz {
	reverse_proxy jellyseerr:5055
	import log_to_file jellyseerr.010790.xyz.log
}

bazarr.010790.xyz {
	reverse_proxy bazarr:6767
	import log_to_file bazarr.010790.xyz.log
}

glance.010790.xyz {
	reverse_proxy glance:8181
	import log_to_file glance.010790.xyz.log
}

sidekick.010790.xyz {
	reverse_proxy sidekick_frontend:80
	import log_to_file sidekick.010790.xyz.log
}

sidekick-backend.010790.xyz {
	reverse_proxy sidekick_backend:8000 {
		header_up Host {host}
		header_up X-Forwarded-For {remote_addr}
		header_up X-Forwarded-Proto {scheme}
	}
	import log_to_file sidekick-backend.010790.xyz.log
}
